<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <table id="app" border="2">
    <thead>
      <tr>
        <th v-for="col in columns">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in films">
        <td v-for="col in columns">{{row[col]}}</td>
      </tr>
    </tbody>
  </table>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        films: [
          {
            title: 'Avatar',
            year: 2009,
            director: 'James Cameron',
            budget: 237000000
          },
          {
            title: 'Pulp Fiction',
            year: 1994,
            director: 'Quentin Tarantino',
            budget: 8000000
          },
          {
            title: 'Pitch Black',
            year: 2000,
            director: 'David Twohy',
            budget: 23000000
          },
          {
            title: 'War and Peace',
            year: 1956,
            director: 'King Vidor',
            budget: 6000000
          }
        ] 
      },
      computed: {
      "columns": function columns() {
        if (this.films.length == 0) {
          return [];
        }
        return Object.keys(this.films[0])
      }
  }
    });
  </script>
</body>
</html>